@import "reset";
@import "./variables/global";
@import "./themes/normal";
@import "./themes/dark";
@import "./themes/orange";

body {
    font-size: var(--font-size-three);
    color: var(--primary-color);
    box-sizing: border-box;
}

.app {
    min-height: 100vh;
    background-color: var(--bg-color-main);
}

.content-page {
    display: flex;
}
