.title {
    font: var(--font-l);
    color: var(--primary-color);
}

.text {
    font: var(--font-m);
    color: var(--secondary-color);
}

.error {
    .title {
        color: var(--red-light);
    }

    .text {
        color: var(--red-dark);
    }
}

.black {
    .title {
        color: #222;
    }

    .text {
        color: #222;
    }
}

.left {
    .title {
        text-align: left;
    }

    .text {
        text-align: left;
    }
}

.right {
    .title {
        text-align: right;
    }

    .text {
        text-align: right;
    }
}

.center {
    .title {
        text-align: center;
    }

    .text {
        text-align: center;
    }
}
