.Text {
    .title {
        color: var(--primary-color);
        font-family: var(--font-family-main);
        text-transform: uppercase;
    }

    .text {
        font-family: var(--font-family-text);
        color: var(--primary-color);
    }
}

.link {
    .title {
        color: var(--link-color);
    }

    .text {
        color: var(--link-color);
    }
}

.error {
    .title {
        color: var(--red-light);
    }

    .text {
        color: var(--red-dark);
    }
}

.black {
    .title {
        color: #222;
    }

    .text {
        color: #222;
    }
}

.secondary {
    .title {
        color: var(--secondary-color);
    }

    .text {
        color: var(--secondary-color);
    }
}

.left {
    .title {
        text-align: left;
    }

    .text {
        text-align: left;
    }
}

.right {
    .title {
        text-align: right;
    }

    .text {
        text-align: right;
    }
}

.center {
    .title {
        text-align: center;
    }

    .text {
        text-align: center;
    }
}

.size_m {
    .title {
        font: var(--font-l);
    }

    .text {
        font: var(--font-m);
    }
}

.size_l {
    .title {
        font: var(--font-xl);
    }

    .text {
        font: var(--font-l);
    }
}

.regular {
    font-weight: 400;
}

.medium {
    font-weight: 500;
}

.semiBold {
    font-weight: 600;
}

.bold {
    font-weight: 700;
}

.extraBold {
    font-weight: 800;
}

.size_one {
    font-size: var(--font-size-one);
}

.size_two {
    font-size: var(--font-size-two);
}

.size_three {
    font-size: var(--font-size-three);
}

.size_four {
    font-size: var(--font-size-four);
}

.size_five {
    font-size: var(--font-size-five);
}

.size_six {
    font-size: var(--font-size-six);
}

.size_seven {
    font-size: var(--font-size-seven);
}

.size_eight {
    font-size: var(--font-size-eight);
}
