.link {
    display: flex;
    align-items: center;
    opacity: 1;
    transition: opacity 0.2s;
    font-family: var(--font-family-text);
    padding: 6px 0;
}

.icon {
    margin-right: 10px;
    fill: var(--link-color);
    stroke: var(--link-color);
}
