.app_light_theme {
    --bg-color-main: #f7f7f7;
    --bg-color-aside: #e8e5e4;
    --bg-color-secondary: #3c3c3c;
    --bg-color-three: #405ced;
    --bg-color-btn: #2a2a2a;
    --primary-color: #2a2a2a;
    --inverted-primary-color: #f7f7f7;
    --secondary-color: #878787;
    --inverted-secondary-color: #499b49;

    // skeleton
    --skeleton-color: #fff;
    --skeleton-shadow: rgba(0 0 0 / 20%);

    // code
    --code-bg: #fff;

    // card
    --card-bg: #d7d4d3;

    // link
    --link-color: #2a2a2a;
}
