.app.light{
  --bg-color: #DCCDCD;
  --inverted-bg-color: #0E1A3E;

  --primary-color: #000000;
  --secondary-color: #E64B07;

  --inverted-primary-color: #767575;
  --inverted-secondary-color: #499B49;
}