// .app.light

.app_light_theme {
    --bg-color: #dccdcd;
    --inverted-bg-color: #0e1a3e;
    --primary-color: #d400ff;
    --secondary-color: #ffb937;
    --inverted-primary-color: #46f1f1;
    --inverted-secondary-color: #499b49;
}
